
.header{
  padding-bottom: 10px;
  border-radius:0 0 10px 5px;
  overflow: hidden;
  margin: 0;
}
.logo-small{
  margin-inline: 55px;
  margin-top: 19px;
}
.form-group{
  margin-inline: 2%;
  position: relative;
  margin-block: 30px;
  width: 60%;
}
.others{//blank right side corner for SSO
  width: 5px;
}

